@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

/* INPUT BOX STYLE STARTS FROM HERE */
.render_dinamic_form {
  position: relative;
  padding: 20px;
}

.render_dinamic_form * {
  padding: 0;
  margin: 0;
  color: #000;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
}


.render_dinamic_form .input_wrapper {
  display: flex;
  flex-direction: column;
}

.render_dinamic_form .input_fld {
  padding: 10px;
  outline: 0;
  border: 1px solid #ddd;
}

.render_dinamic_form .inp_label {
  display: flex;
  margin-bottom: 10px;
}

.col_1,
.col_2,
.col_3,
.col_4 {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}


.col_3 .input_wrapper {
  width: calc(100% * (1/3) - 10px);
}

.col_1 .input_wrapper {
  width: calc(100% - 10px);
}

.col_2 .input_wrapper {
  width: calc(100% * (1/2) - 10px);
}

.col_4 .input_wrapper {
  width: calc(100% * (1/4) - 10px);
}

/* INPUT BOX STYLE ENDS HERE */



/* SELECT VIEW MODULE STARTS HERE */
.select_wrapper_material {
  position: relative;
  width: 100%;
  /* border-bottom: 1px solid #ddd; */
  padding: 0;
}

.select_wrapper_material * {
  padding: 0;
  margin: 0;
  color: #000;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

.select_wrapper_material .iner_sel_wrpr {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.select_wrapper_material .search_select {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-appearance: none;
  opacity: 0;
}

.select_wrapper_material .combo_input {
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: none;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  height: 34px;
  line-height: 34px;
  padding-right: 34px;
  border-radius: 0px;
  font-size: 14px; */
  padding: 10px;
  border: 1px solid #ddd;
}

.select_wrapper_material .combo_input:focus {
  outline: none;
}

.select_wrapper_material .material_custom_select {
  position: absolute;
  z-index: 999;
  top: 100%;
  left: 0;
  min-width: 100%;
  max-width: 300px;
  max-height: 270px;
  margin: 0;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  display: none;
  overflow-y: auto;
  background: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 6px rgba(0, 0, 0, 0.12);
  -webkit-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  border-radius: 0;
  box-sizing: border-box;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
}

.select_wrapper_material .material_custom_select .material_custom_select_item {
  list-style: none;
  padding: 10px 15px;
  cursor: pointer;
  text-align: left;
  border: 0;
}

.opened .search_select {
  z-index: -1;
}

.material_custom_select_item.active_item {
  background-color: #efefef;
  color: #454545;
}

.select_wrapper_material .material_custom_select .material_custom_select_item:hover {
  background-color: #efefef;
  color: #454545;
}

/* .select_wrapper_material .select_label {
  position: absolute;
  top: 40px;
  width: 100%;
  left: 0;
  transition: .3s ease all;
} */
.select_wrapper_material .select_label {
  position: static;
  display: flex;
  margin-bottom: 10px;
}

.select_wrapper_material .select_label .down_arrow {
  position: absolute;
  right: 0;
}

.select_wrapper_material.floated .select_label {
  top: 15px;
  font-size: 12px;
}

.select_wrapper_material.floated .select_label .down_arrow {
  bottom: -30px;
}

/**
 * On Active
 */
.opened .material_custom_select {
  display: block;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}

/**
 * Search marker
 */
.combo-marker {
  text-decoration: underline;
}

/* SELECT VIEW MODULE ENDS HERE */


/* DATE PICKER STYLE */
/* FONTS AND TYPOGRAPHY */

.mkbys_data_picker .icon {
  font-size: 25px;
}

/* ICON STYLING */
.arrow_btn_container {
  position: relative;
}

.arrow_btn {
  position: absolute;
  display: block;
  width: 60px;
  height: 60px;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.arrow_btn .icon {
  display: block;
  transition: 150ms;
  font-size: 22px;
  border: 2px solid #263859;
  border-radius: 100%;
  line-height: 17px;
  width: 21px;
  margin: 20px auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow_btn.left {
  border-top-left-radius: 5px;
}

.arrow_btn.right {
  border-top-right-radius: 5px;
  right: 0;
  top: 0;
}

.calendar_month .arrow_btn:hover {
  background: #222a37;
}

.calendar_month .arrow_btn:hover {
  background: #16417e;
}

/*  CALENDAR STYLINGS*/
.mkbys_data_picker_cmpt{
  width:100%;
}
.mkbys_data_picker {
  width: 300px;
  background: #fefefe;
  box-shadow: 0 0 20px -3px #bbb;
  opacity:0;
  display:none;
}

.mkbys_data_picker h2.titular {
  display: block;
  font-weight: 600;
  line-height: 60px;
  margin: 0;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
}

.mkbys_data_picker .calendar_month {
  height: 380px;
}

.mkbys_data_picker .calendar_month .titular {
  color: #fafafa;
  background: #6b778dd8;
}

.mkbys_data_picker .calendar_month .arrow_btn:hover {
  background: #263859;
}

.mkbys_data_picker .calendar_month .arrow_btn:hover .icon {
  color: #e0e0e0;
  border-color: #e0e0e0;
}

.mkbys_data_picker .calendar_wrp {
  margin: 10px auto;
  text-align: center;
}

.mkbys_data_picker .calendar_wrp a {
  font-size: 17px;
}

.mkbys_data_picker .calendar_wrp td,
.mkbys_data_picker .calendar_wrp th {
  width: 40px;
  transition: 100ms;
  height: 38px;
}

.mkbys_data_picker .calendar_wrp td:hover {
  border: 1px solid #263859;
  background: #d3def3;
  border-radius: 50%;
}

.mkbys_data_picker .calendar_wrp .days_week {
  color: #222a37;
  list-style: none;
  padding: 0 6px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.mkbys_data_picker .calendar_wrp .days_action_wrp {
  width: 100%;
}

.mkbys_data_picker .calendar_wrp .days_week .week_days {
  min-width: calc(100% * 1/7 - 0px);
  max-width: calc(100% * 1/7 - 0px);
  font-weight: 600;
  font-size: 12px;
  height: 42px;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
  transition: all .3s ease;
}

.mkbys_data_picker .days_action_wrp .week_days:hover {
  border: 1px solid #a9a2a2;
  background: #d5dbe7;
  border-radius: 50%;
}

.mkbys_data_picker .days_action_wrp .disabled_days {
  color: #8c8d8f;
  pointer-events: none;
}

.mkbys_data_picker .days_action_wrp .disabled_days:hover {
  background: transparent;
  border-radius: 0;
  border: none;
}

.mkbys_data_picker .days_action_wrp .selected_day {
  line-height: 34px;
  background: #d9605aec;
  border-radius: 50%;
  color: #fafafa;
}


.mkbys_data_picker .days_action_wrp .selected_day:hover {
  background: #d9605aec;
  border-radius: 50%;
  border: none;
}

.mkbys_data_picker .yearPanelWrp {
  padding: 10px;
  overflow-y: auto;
  max-height:calc(100% - 75px);
}

.mkbys_data_picker .yearPanelWrp .yearSec {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.mkbys_data_picker .yearPanelWrp .year_chip {
  display:flex;
  justify-content: center;
  padding: 8px 10px;
  border-radius: 30px;
  border: 0;
  min-width: calc(100% * 1/5 - 0px);
  max-width: calc(100% * 1/5 - 0px);
  cursor: pointer;
  transition: .3s ease all;
}

.mkbys_data_picker .yearPanelWrp .year_chip:hover {
  border-radius: 30px;
  border: 0;
  background-color: #ddd;

}

.mkbys_data_picker .yearPanelWrp .selectedYear {
  background: #d9605aec;
  color: #fafafa;
}
.mkbys_data_picker .yearPanelWrp .selectedYear:hover {
  background: #d9605aec;
  color: #fafafa;
}
/* DATE PICKER STYLE */

/* CHECKBOX MODULE STARTS HERE*/
.checkbox_wrapper {
  position: relative;
  margin-bottom: 20px;
}

.checkbox_wrapper * {
  padding: 0;
  margin: 0;
  color: #000;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

.checkbox_wrapper .pure_material_checkbox {
  position: relative;
  margin: .5rem;
  line-height: 135%;
  cursor: pointer;
}

.pure_material_checkbox {
  position: relative;
  top: rem(-6);
  margin: 0 1rem 0 0;
  cursor: pointer;
}

.effect_1 .checkbox_input:before {
  transition: all .3s ease-in-out;
  content: "";
  position: absolute;
  left: 0;
  z-index: 1;
  width: 1rem;
  height: 1rem;
  border: 2px solid #009688;
}

.effect_1 .checkbox_input:after {
  content: "";
  position: absolute;
  top: -0.125rem;
  left: 0;
  width: 1.1rem;
  height: 1.1rem;
  background: #fff;
  cursor: pointer;
}

.effect_1 .checkbox_input.cbChecked:before {
  transform: rotate(-45deg);
  height: .5rem;
  border-color: #009688;
  border-top-style: none;
  border-right-style: none;
}

.effect_1 .checkbox_span {
  padding-left: 20px;
}

/* CHECKBOX MODULE STARTS HERE*/